
<div class="infos-text col-xs-12 col-sm-6 col-sm-offset-3">
	<h4 class="prim-color">Présentation des AMAP</h4>
	<p class="text-justify">Depuis la création des premières AMAP en Île-de-France en 2003, elles se sont multipliées à un rythme exponentiel portant à 300 le nombre de groupes en ce début 2016, soit plus de 15 000 familles d’amapiens travaillant avec 160 producteurs. Basé sur des partenariats innovants et responsables entre paysans et consommateurs, le contrat AMAP est devenu un levier politique et citoyen pour qu'une autre dynamique agricole puisse exister à travers des circuits courts et des engagements environnementaux.</p>

</div>
<div class="text-center col-xs-12 col-sm-6 col-sm-offset-3">
	<iframe src="https://player.vimeo.com/video/111715906" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>	

<div class="infos-text col-xs-12 col-sm-6 col-sm-offset-3">

	<p class="text-justify">Mais si l'offre de « circuits courts » a littéralement explosé (un agriculteur sur cinq vend aujourd'hui en circuit court), le mouvement des AMAP représente une véritable opportunité pour l’agriculture régionale : loin de s'en tenir à l'ouverture de nouveaux débouchés commerciaux, le principe du contrat AMAP repose sur des principes de solidarité, de salaire décent pour les producteurs, de transparence, de respect de l'environnement et de proximité.<br><br>
Le réseau des AMAP Ile de France est la structure régionale de ce mouvement. Si sa mission principale demeure la promotion et l’aide à la création d’AMAP, il mobilise aujourd’hui une bonne partie de son énergie à multiplier des actions visant à favoriser l’installation de jeunes producteurs en impliquant également les groupes de citoyens et les collectivités locales. Par ailleurs, il assure l’animation et la structuration de son réseau en tant que lieu d’échange, d’accompagnement et de mutualisation des pratiques amapiennes. <br><br>
Le développement de l’agriculture paysanne passe en premier lieu par les producteurs eux-mêmes. Tant dans leur pratique que dans leur relation avec les groupes, ils favorisent et concrétisent sa mise en oeuvre et sa construction progressive. Mais cette action ne peut être le fait des agriculteurs seuls, elle doit être soutenue collectivement, en particulier sur le territoire francilien où la pression foncière est renforcée par l’extension urbaine
</p>

</div>