  <div id="contact-container" class="col-lg-4 col-lg-offset-4 container-app" style="padding: 0!important;">
	<form methd="post">
		<h2 class="text-center entete-bck" style="margin:0">Nous contacter</h2>
      <div class="col-xs-10 col-xs-offset-1" style="margin-top:40px">
		  <fieldset class="form-group">
		    <label for="formGroupExampleInput">Email</label>
		    <input type="text" class="form-control" name="contact-email" id="contact-email" placeholder="Votre email">
		  </fieldset>
		  <fieldset class="form-group">
		    <label for="formGroupExampleInput2">Message</label>
		    <textarea class="form-control" name="contact-content" id="contact-content"></textarea>
		  </fieldset>
		  <button type="submit" style="margin-bottom:20px" class="btn-miramap">Envoyer</button>
		</div>
	</form>
</div>