<div ng-controller="listePaniersCtrl">

    <div ng-repeat="panier in paniers" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 parent-container" style="padding:40px">
            
        <div class="text-center infos-container container-app">
            <p class="entete-bck">{{panier.civilite | capitalize}}. {{panier.prenom | capitalize}} {{panier.nom |capitalize}} - {{panier.libelle | uppercase}}</p>

            <ul class="list-group">
              <li class="list-group-item produits-li-container" ng-repeat="p in panier.produits">
                <table class="produits-container">
                    <tr>
                        <td class="produits-libelle">{{p.libelle}}</td>
                        <td><span class="label label-default label-pill pull-xs-right" >{{p.quantite}}</span></td>
                    </tr>
                </table>
              </li>
            </ul>
            <a href="#/liste-paniers/achat/{{panier.id_panier}}" ng-show="session.role == 'Consommateur' || session.role == 'Producteur'" class="btn-miramap">Acheter {{panier.prix_total}} €</a>
        </div>
        
    </div>
    
</div>