<script type="text/javascript">

    var latlng = new google.maps.LatLng(46.9435125, 2.8700619	);
    var myOptions = {
        zoom: 6,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var geocoder = new google.maps.Geocoder();
    var map = new google.maps.Map(document.getElementById("gmap-container"), myOptions);
    var infowindow = new google.maps.InfoWindow();
    var amapAvailable = [
        {"code": "01", "libelle": "Ain", "ville": "Bourg-en-Bresse"},
{"code": "02", "libelle": "Aisne", "ville": "Laon"},
{"code": "03", "libelle": "Allier", "ville": "Moulins"},
{"code": "04", "libelle": "Alpes-de-Haute-Provence", "ville": "Digne"},
{"code": "05", "libelle": "Hautes-Alpes", "ville": "Gap"},
{"code": "06", "libelle": "Alpes Maritimes", "ville": "Nice"},
{"code": "07", "libelle": "Ardèche", "ville": "Privas"},
{"code": "08", "libelle": "Ardennes", "ville": "Charleville-Mézières"},
{"code": "09", "libelle": "Ariège", "ville": "Foix"},
{"code": "10", "libelle": "Aube", "ville": "Troyes"},
{"code": "11", "libelle": "Aude", "ville": "Carcassonne"},
{"code": "12", "libelle": "Aveyron", "ville": "Rodez"},
{"code": "13", "libelle": "Bouches-du-Rhône", "ville": "Marseille"},
{"code": "14", "libelle": "Calvados", "ville": "Caen"},
{"code": "15", "libelle": "Cantal", "ville": "Aurillac"},
{"code": "16", "libelle": "Charente", "ville": "Angoulême"},
{"code": "17", "libelle": "Charente-Maritime", "ville": "La Rochelle"},
{"code": "18", "libelle": "Cher", "ville": "Bourges"},
{"code": "19", "libelle": "Corrèze", "ville": "Tulle"},
{"code": "21", "libelle": "Côte-d'Or", "ville": "Dijon"},
{"code": "22", "libelle": "Côtes d'Armor", "ville": "St-Brieuc"},
{"code": "23", "libelle": "Creuse", "ville": "Guéret"},
{"code": "24", "libelle": "Dordogne", "ville": "Périgueux"},
{"code": "25", "libelle": "Doubs", "ville": "Besançon"},
{"code": "26", "libelle": "Drôme", "ville": "Valence"},
{"code": "27", "libelle": "Eure", "ville": "Evreux"},
{"code": "28", "libelle": "Eure-et-Loir", "ville": "Chartres"},
{"code": "29", "libelle": "Finistère", "ville": "Quimper"},
{"code": "30", "libelle": "Gard", "ville": "Nîmes"},
{"code": "31", "libelle": "Haute Garonne", "ville": "Toulouse"},
{"code": "32", "libelle": "Gers", "ville": "Auch"},
{"code": "33", "libelle": "Gironde", "ville": "Bordeaux"},
{"code": "34", "libelle": "Hérault", "ville": "Montpellier"},
{"code": "35", "libelle": "Ille-et-Vilaine", "ville": "Rennes"},
{"code": "36", "libelle": "Indre", "ville": "Châteauroux"},
{"code": "37", "libelle": "Indre-et-Loire", "ville": "Tours"},
{"code": "38", "libelle": "Isère", "ville": "Grenoble"},
{"code": "39", "libelle": "Jura", "ville": "Lons-le-Saunier"},
{"code": "40", "libelle": "Landes", "ville": "Mont-de-Marsan"},
{"code": "41", "libelle": "Loir-et-Cher", "ville": "Blois"},
{"code": "42", "libelle": "Loire", "ville": "St-Étienne"},
{"code": "43", "libelle": "Haute Loire", "ville": "Le Puy"},
{"code": "44", "libelle": "Loire Atlantique", "ville": "Nantes"},
{"code": "45", "libelle": "Loiret", "ville": "Orléans"},
{"code": "46", "libelle": "Lot", "ville": "Cahors"},
{"code": "47", "libelle": "Lot-et-Garonne", "ville": "Agen"},
{"code": "48", "libelle": "Lozère", "ville": "Mende"},
{"code": "49", "libelle": "Maine-et-Loire", "ville": "Angers"},
{"code": "50", "libelle": "Manche", "ville": "St-Lô"},
{"code": "51", "libelle": "Marne", "ville": "Châlons-sur-Marne"},
{"code": "52", "libelle": "Haute Marne", "ville": "Chaumont"},
{"code": "53", "libelle": "Mayenne", "ville": "Laval"},
{"code": "54", "libelle": "Meurthe-et-Moselle", "ville": "Nancy"},
{"code": "55", "libelle": "Meuse", "ville": "Bar-le-Duc"},
{"code": "56", "libelle": "Morbihan", "ville": "Vannes"},
{"code": "57", "libelle": "Moselle", "ville": "Metz"},
{"code": "58", "libelle": "Nièvre", "ville": "Nevers"},
{"code": "59", "libelle": "Nord", "ville": "Lille"},
{"code": "60", "libelle": "Oise", "ville": "Beauvais"},
{"code": "61", "libelle": "Orne", "ville": "Alençon"},
{"code": "62", "libelle": "Pas-de-Calais", "ville": "Arras"},
{"code": "63", "libelle": "Puy-de-Dôme", "ville": "Clermont-Ferrand"},
{"code": "64", "libelle": "Pyrénées Atlantiques", "ville": "Pau"},
{"code": "65", "libelle": "Hautes Pyrénées", "ville": "Tarbes"},
{"code": "66", "libelle": "Pyrénées Orientales", "ville": "Perpignan"},
{"code": "67", "libelle": "Bas-Rhin", "ville": "Strasbourg"},
{"code": "68", "libelle": "Haut-Rhin", "ville": "Colmar"},
{"code": "69", "libelle": "Rhône", "ville": "Lyon"},
{"code": "70", "libelle": "Haute Saône", "ville": "Vesoul"},
{"code": "71", "libelle": "Saône-et-Loire", "ville": "Mâcon"},
{"code": "72", "libelle": "Sarthe", "ville": "Le Mans"},
{"code": "73", "libelle": "Savoie", "ville": "Chambéry"},
{"code": "74", "libelle": "Haute Savoie", "ville": "Annecy"},
{"code": "75", "libelle": "Paris", "ville": "Paris"},
{"code": "76", "libelle": "Seine Maritime", "ville": "Rouen"},
{"code": "77", "libelle": "Seine-et-Marne", "ville": "Melun"},
{"code": "78", "libelle": "Yvelines", "ville": "Versailles"},
{"code": "79", "libelle": "Deux-Sèvres", "ville": "Niort"},
{"code": "80", "libelle": "Somme", "ville": "Amiens"},
{"code": "81", "libelle": "Tarn", "ville": "Albi"},
{"code": "82", "libelle": "Tarn-et-Garonne", "ville": "Montauban"},
{"code": "83", "libelle": "Var", "ville": "Toulon"},
{"code": "84", "libelle": "Vaucluse", "ville": "Avignon"},
{"code": "85", "libelle": "Vendée", "ville": "La Roche-sur-Yon"},
{"code": "86", "libelle": "Vienne", "ville": "Poitiers"},
{"code": "87", "libelle": "Haute Vienne", "ville": "Limoges"},
{"code": "88", "libelle": "Vosges", "ville": "Épinal"},
{"code": "89", "libelle": "Yonne", "ville": "Auxerre"},
{"code": "90", "libelle": "Territoire de Belfort", "ville": "Belfort"},
{"code": "91", "libelle": "Essonne", "ville": "Evry"},
{"code": "92", "libelle": "Hauts-de-Seine", "ville": "Nanterre"},
{"code": "93", "libelle": "Seine-St-Denis", "ville": "Bobigny"},
{"code": "94", "libelle": "Val-de-Marne", "ville": "Créteil"},
{"code": "95", "libelle": "Val-D'Oise", "ville": "Pontoise"}
      ];

        var dataArr = [];
        $.each(amapAvailable, function(){
            var $this = this;
            $.ajax({
                url: 'http://maps.google.com/maps/api/geocode/json?address='+this.libelle+"%20"+this.code,
                type: 'GET',
            })
            .done(function(data) {
                $.each(data, function(){
                  if (typeof data.results[0].geometry.location.lat != 'undefined' && typeof data.results[0].geometry.location.lng != 'undefined') {
                        var lat = data.results[0].geometry.location.lat;
                        var lng = data.results[0].geometry.location.lng;
                        var myLatLng = new google.maps.LatLng(lat, lng);
                        console.log(lat + " " + lng);
                        var marker = new google.maps.Marker({
                              position: myLatLng,
                              map: map,
                              title: this.ville
                        });
                  };
                  
                  
                });
            })
            .fail(function(data) {
                console.log(data);
            })
            .always(function() {
                console.log("complete");
            });
        });



setTimeout(function () {
	google.maps.event.trigger(map, 'resize');
	map.setCenter(latlng);
}, 100);


</script>
<div ng-controller="locationCtrl" id="gmap-container" class="col-lg-12"></div>
